{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
    {% for label,messages in app.flashes  %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages  %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {{ include('include/_login.html.twig') }}
{% endblock %}