{% extends 'base.html.twig' %}

{% block title %} Mes Réservations ! {% endblock %}

{%  block body %}
    <div class="container">
        <div class="alert alert-info mt-5 ml-1" style="margin-right: -15px">
            <h1 class="display-1 text-center ">Mes réservations</h1>
        </div>

        {% for booking in app.user.bookings %}
            {% set ad = booking.ad %}
            <div class="row mt-4 text-center ml-1 alert-info alert">
                <div class="col-4 align-items-center">
                    <img class="img " src="{{ ad.coverImage }}" alt="{{ ad.title }}">
                </div>
                <div class="col-8">

                        Réservation <strong>n° <em>{{ booking.id }}</em></strong>
                        <p>
                            Du <strong><em>{{ booking.startDate | date('d/m/Y')}}</em></strong>
                            au <strong><em>{{ booking.endDate | date('d/m/Y') }}</em></strong>
                            <br> Prix de votre séjour : <strong><em>{{ booking.amount }} &euro;</em></strong>
                        </p>
                    <a href="{{ path('booking_show', { 'id' : booking.id}) }}" class="btn btn-info mb-2">Plus d'informations</a>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}
