body {
    font-family: Cormorant, Serif;
    font-size: 18px;
    line-height: 1.43;
    color: rgba(20, 47, 134, 0.74);
    text-shadow: 3px 3px 3px rgba(20, 47, 134, 0.2);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav{
    font-size: 22px;

}

.navbar-brand{
    font-size: 12px;
}

input::placeholder{
    font-size: 20px;
}

input[type="text"]{
    font-size:25px;
    color:darkblue;
    background-color: #f1f1f1;
}

input[type="number"]{
    font-size:22px;
    color:darkblue;
    background-color: #f1f1f1;
}


input[type="text"]:focus{
    font-size:22px;
    color:darkblue;
    background-color: #f1f1f1;
}

textarea::placeholder{
    font-size: 22px;
}

.form-control[type="number"]{
    font-size: 22px;
    color:darkblue;
    background-color: #f1f1f1;
}

.form-control[type="text"]{
    font-size: 22px;
    color:darkblue;
    background-color: #f1f1f1;
}

.form-control{
    font-size: 30px;
    color:darkblue;
    background-color: #f1f1f1;
}

.form-control:focus{
    color:darkblue;
    background-color: #f1f1f1;
}

.form-control[type="textarea"]:focus{
    font-size: 18px;
    color:darkblue;
    background-color: #f1f1f1;
}

div.container{
    margin-top: 20px;
}

.alert{
    font-size: 20px;
}

.alert-info{
    font-size: 25px;
}

.alert-warning{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}

.form-error-message{
    font-size: 20px;
}

label{
    font-size: 20px;
}

body.a{
    text-decoration: none;
    color: inherit;
}

div.ad{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad h1, div.ad p{
    color: white;
    text-shadow: 3px 3px 3px rgba(20, 47, 134, 0.5);
}

div.carousel-caption {
    color: white;
    text-shadow: 3px 3px 3px rgba(20, 47, 134, 0.5);
}


.avatar{
    border-radius: 45%;
    width: 250px;
    height: 250px;
}

.avatar-resa{
    border-radius: 45%;
    width: 128px;
    height: 128px;
}

.avatar-medium{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.avatar-mini{
    border-radius:50%;
    width: 24px;
    height: 24px;

}

.btn{
    font-size: 19px;
    padding: 8px;
    border-radius: 50px;
}

.badge, .badge-info{
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
}

.link-badge{
    text-decoration: none;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color: red !important;
}

.img {
    width: 312px;
    height: 200px;
}