<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="{{ path('homepage') }}">MeetNRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if  property is defined and property=="active_home" %}active{% endif %}" href="{{ path('homepage') }}" >Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if property is defined and property=="active_ad" %}active{% endif %}" href="{{ path('ads_index') }}">Nos Annonces</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">

                        <a href="#" class="nav-link dropdown-toggle" id="accountDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ app.user.picture }}" alt="avatar de {{ app.user.fullName }}" class="avatar-mini">
                            {{ app.user.fullName }}
                        </a>


                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                            <a class="dropdown-item" href="{{ path('ads_new') }}">Créer une annonce</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('my_profile') }}#my_ads">Mes annonces</a>
                            <a class="dropdown-item" href="{{ path('account_bookings') }}#my_ads">Mes réservations</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('my_profile') }}">Mon profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('account_profile') }}">Modifier mon profil</a>
                            <a class="dropdown-item" href="{{ path('account_password') }}">Modifier mon mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('account_logout') }}">Se déconnecter</a>
                        </div>

                 </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
            </li>
            <li class="nav-item">
                <!-- Button trigger modal -->
                <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg">
                    Connexion
                </a>

<!------------------------------------------------------------ Modal ---------------------------------------------------->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content bg-bark">
                            <div class="modal-body">
                                {{ include('include/_login.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
<!------------------------------------------------------------ Modal ---------------------------------------------------->
            </li>
            {% endif %}
        </ul>
</nav>

{% for label,messages in app.flashes  %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages  %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
