{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ ad.title }} !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="alert alert-info mt-5">Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.fullName }}</strong></h1>

        <h2 class="alert-heading display-3 mt-5 text-center"><strong><em>Votre futur hébergement de rêve !</em></strong></h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ ad.title }}</h5>
                <p class="card-text">{{ ad.introduction }}</p>
            </div>
            <img class="card-img-bottom" src="{{ ad.coverImage }}" alt="{{ ad.title }}">
            <div class="card-footer text-muted">
                {{ ad.contents | raw }}
            </div>
        </div>
        {{ form_start(form) }}
        <div class="alert alert-secondary mt-4">
            <h2 class="display-4">Quelles dates souhaitez-vous réserver ?</h2>
            <div class="row mt-3">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>

            {{ form_row(form.message) }}

            <h3 class="mt-3"><em>Le prix de la location par nuit est de </em><strong id="price">{{ ad.price }}</strong> &euro;</h3>
            <h3 class="mt-3"><em>Vous souhaitez louer </em><strong id="days">0</strong> jours</h3>
            <div class="row my-3">
                <h1 class="ml-3"><u>Montant total du séjour :</u><span id="amount"><strong><em> 0</em> </strong></span> &euro;</h1>
            </div>
            <button class="btn btn-success">Je réserve !</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            const dates = $('#booking_startDate, #booking_endDate');

            dates.datepicker(
                {
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                    "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });

            dates.on('change', totalAmount);
        });

        function totalAmount(){

            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));

            if (startDate && endDate && startDate < endDate) {

                const DAY_TIME = 24 * 60 * 60 * 1000;
                const interval = endDate.getTime() - startDate.getTime();
                const days = interval / DAY_TIME;

                const amount = {{ ad.price }} * days;

                $('#days').text(days);
                $('#amount').text(amount);
            }
        }


    </script>
{% endblock %}