{% extends 'base.html.twig' %}

{% block title %}Créer votre annonce !{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    {{ form_label(form.title)}}
    {{ form_widget(form.title)}}
    <br>

    {{ form_label(form.price)}}
    {{ form_widget(form.price) }}
    <br>

    {{ form_label(form.introduction)}}
    {{ form_widget(form.introduction) }}
    <br>

    {{ form_label(form.rooms)}}
    {{ form_widget(form.rooms) }}
    <br>

    {{ form_label(form.coverImage)}}
    {{ form_widget(form.coverImage) }}
    <br>

    <button type="button" onclick="heberger()" class="btn btn-info">Heberger votre image sur zupimages.net</button>
    <div id="heberger"> </div>
    <br>

    {{ form_label(form.contents)}}
    {{ form_widget(form.contents) }}



    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}
<script>
    function heberger()
    {
        const heberger = document.getElementById("heberger")
        heberger.innerHTML="<label for=\"iframe\">Uploader votre image et copier/coller le lien du champs \"Lien direct de votre image\" dans le champs correspondant</label>\n" +
            "        {{ form_widget(form.coverImage) }}\n" +
            "        <iframe name=\"iframe\" src=\"https://www.zupimages.net/\" scrolling=\"no\" allowtransparency=\"true\" frameborder=\"0\" width=\"100%\" height=\"1000\"></iframe>\n" +
            "    "

    }

</script>
{% endblock %}

